@page
@model WebApplication1.Models.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>This is a link to the <a href="../Test.html">Test page</a></p>
   
    <h3>This uses HTML helper</h3>
    
    @Html.ActionLink("Link to RazorTest page via HTML helper", "RazorTest","Test")
</div>
